.super {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: initial;
    
}

div {
    margin: 1em 0 2em 0;
}

p {
    margin: 0 0 0.5em 0;
}

a {
    text-decoration: none;
    color: var(--interactable)
}

img { 
     max-width: 20em;
}

.fl {
    float: left;
}


.projects-2 img{
  margin: auto;
  display: block;
}

.blog{
    font-size: 14px;
    min-width: 24vw;
    max-width: 24vw;
    max-height: 200vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.projects-2{
    font-size: 14px;
}
.daily-blog p{
    display: block;
}

.projects img{
    max-width: 320px;
}

/* #duality{
    max-width: 200px;
} */

.left {
}

.main {
    background: white;
    max-width: 28em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    min-width: 28em;
}

.bio-container {
    height: 40px;
}

.bio {
    text-align: right;
    width: 340px;
    font-size: 12px;
}
.bio-diff {
    transform: scale(0.34) translate(-80%, -240%);
}

.bio-unpr{
    transform: scale(0.34) translate(-70%, -430%);
}

.bio-popout {
    z-index: 0;
    transform: translate(-19%, -44%);
    width: 600px;
    height: 250px;
}
.golf-div{
    position: relative;
    z-index: 3;
}
.bio, .bio-popout, .bio-diff, .bio-unpr {
    position: absolute;
}
#quotes {
    font-family: 'Courier New', Courier, monospace;
}

.chin-small{
    font-size: 20px;
    position: absolute;
    top: 27px;
    left: 176px;
}

.pfp {
    width: 200px;
    left: 30%;
    position: relative;
    z-index: 2;
}

.projects {
    max-width: 24em;
}
.projects-2 {
    max-width: 25em;
}
.projects-2 a,p{
    max-width: 400px;
    display: block;
}
.projects a, p{
    display: block;
    
}

.projects a:hover, .projects-2 a:hover{
    cursor: pointer;
    outline-offset: 2px;
    outline: 2px solid black;
}

.projects img {
    display: block;
}

.blog a {
    color: blue;
}
.gallery{
    background: rgb(0, 0, 0);
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
}

.webring {
    --bgColor: white;
    width: 170px;
    height: 55px;
    background-color: white !important;
}

#lowtech {
    width: 8em;
}

.header {
    color: var(--header-text);
    text-align: center;
    letter-spacing: -0.07em;
    font-weight: 300;
    font-size: 36px;
    margin: 0 0;
}

.header-sub {
    z-index: 3;
    color: var(--header-text-sub);
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}


.toggle {
    /* display: none; */
    color: var(--interactable)
}

