.golf {

}

.banner-golf{
    font-size: 180%;
    font-style: italic;
    text-decoration: none;
}

.banner-golf a{
    color: var(--banner-text);
}

.banner-space a{
    color: var(--banner-text);
}

.banner-space{
    background-color: var(--banner-text-bg);
    font-size: 150%;
    font-style: italic;
    text-decoration: none;
}


.banner-cristofaro{
    line-height: 1.1;
    background: rgb(255, 255, 255);
    text-decoration: none;
}

.pill-text {
    font-size: 8px;
    line-height: 0.8;
}
.frog{
    width: 100%;
    position: relative;
}
p:has(span) {
    line-height: 1.5;
}
a:has(span) {
    line-height: 1.5;
}


.diVup{
    width: 100%;
    height: auto;
    position: relative;
}
.banner-diV{
    line-height: 1.1;
    background: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 24px;
}

.banner-subtext{
    line-height: 0.9;
    font-size: 14px;
}

.golf:hover{
    filter: invert();
}

.toggle{
    color: rgb(16, 125, 129);
}

.flicker a{
    color: rgb(230, 194, 33);
    font-size: 40px;
}