
.main {
    margin-right: auto;
    margin-left: auto;
    width: 35em;
    line-height: 1.444;
    font-family: 'Noto Serif', serif;
}

h1, h2, h3 {
    letter-spacing: -1px;
}
blockquote{
    width: 35em;
    margin-right: 10px;
    background: rgb(252, 251, 238);
}

pre, code {
    white-space: pre-wrap;   
}
img {
    width: 35em;
}