body {
    margin: 0 auto;
    max-width: 42em;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #566b78;
    padding: 4em 2em; 
  }
  
  figure ul{
      list-style-type: none;
  }
  ul {
    list-style-type: circle;
  }

  h1,h3,h3,h4,h5,h6 {
    margin-top: 1em;
    padding-top: 1em;
  }
  h1{
      font-size:20px;
  }

  h1,h3,strong{
      color: #111
  }
blockquote{
    color: #69c
}

code, pre{
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

img{
  width: 100%;
  height: 100%;
}
.image{
    margin: 0 auto;
    width: 80%;
}

.icon{
    display: block;
    margin: 0 auto;
    width: 10%;
}


code {
  padding: 2px 2px;
  vertical-align: text-bottom;
}

.mono{
    padding: 15px 15px;
    background-color: beige;
    font-family: monospace;
    font-size: 12px;
    max-width: 300px;
    margin: 60px auto;
    color: rgb(100,100,100);
}
.fmono{
    padding: 15px 15px;
    font-family: monospace;
    font-size: 12px;
    max-width: 540px;
    color: rgb(100,100,100);
}


pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

a {
    color: rgb(56, 99, 180)
  }