html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Istok Web', sans-serif;
  line-height: 1.05;
  font-size: 15px;
  background-color: rgb(157, 209, 233);
}

* {
  box-sizing: border-box;
}

.boxy {
  width: 11em;
  height: 17em;
  overflow: hidden;
}

.small-image{
  width: 12em;
}

.small-text{
  font-size: 12px;
}

.small-text *{
}

a:visited{
  color: #3c9172
}

a{
  color: #3c9172
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

blockquote {
  font-style: oblique;
  color: gray
}

p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
