html,
body {
  white-space: pre-wrap;
  font-family: sans-serif;
  transition-duration: 0s;
}

.grid{
  position: relative;
  background-color: #111;
  
}
.grid-item { 
  width: 120px;
  height: 120px;
  overflow: hidden;
  transition-duration: 0s;
  
}

.link-item{
  width: 240px;
  height: 60px;
  background-color: rgb(165, 249, 255);
  overflow-wrap: break-word;
}

.link-item .hidelink {
  display: none;
}
.link-item .mt3{
  margin-top: 12px;
}

.link-item .ma2{
  width: fit-content;
}
.link-item .fw7{
  overflow-wrap: break-word;
  font-weight: 300;
  margin-top: 0px;
  font-size: 16px;
  color: #111;
}
.grid-item:hover{
  background-color: rgb(5, 252, 198)
}
.large-item { width: 240px; height: auto; margin: 0px 0px; }


* {
  box-sizing: border-box;
}


.small-image{
  width: 400px;
}


.small-text{
  font-size: 12px;
  top: 500px;
}

.small-image-text{
  font-size: 12px;
  top: 60%;
  position: absolute;
}


a:visited{
  color: #3c9172
}

a{
  color: #3c9172
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

blockquote {
  font-style: oblique;
  color: gray
}

p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
